/* html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
}

*/
html {
	width: 100%;
	height: 100%;
	font-family: Tahoma, sans-serif;
	color: #212121;
	background-color: #CFD8DC;
	hyphens: auto;
	margin-bottom: 60px;
}

body {
	max-width: 1200px;
	margin: 0 auto 0 auto;
}

/* all font stuff */
/*p {
	font-size: 1em;
	line-height: 150%;
	margin-bottom: 0.5em;
	text-align: justify;
} */
.error {
	color: red;
}

.good-bye {
	text-align: center;
	font-style: italic;
	font-weight: bold;
	animation: rainbow 1s infinite;
}

.hidden-info {
	display: none;
}

h1 {
	font-size: 2em;
	margin: 1em 0 1em 0;
}

h2 {
	font-size: 1.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

h3 {
	font-size: 1.1em;
	font-weight: bold;
	margin: 0.5em 0 0.5em 0;
}

/* all links */
/* a {
	cursor: pointer;
	border-bottom: 1px solid #212121;
}

a:link, a:visited {
	color: #212121;
	text-decoration: none;
	border-bottom: 1px solid #212121;
}

a:focus, a:hover, a:active {
	color: #212121;
	text-decoration: none;
	border-bottom: 0px solid #212121;
} */

/* all containers */
div#wrapper {
	min-height: 100%;
	max-width: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto 0 auto;
	background-color: #FFFFFF;
}

div#wrapper>* {
	width: 100%;
	height: auto;
}

div.wrapper {
	min-height: 100%;
	max-width: 1000px;
	display: flex;
	flex-direction: row;
}

div#content-wrapper {
	height: auto;
}

div#content-wrapper>* {
	padding: 5px;
}

/* all the content */

/* different stuff */
.add-to-cart {
	height: 30px;
}

.add-to-cart * {
	display: inline-block;
}

.add-to-cart img {
	height: 100%;
}

.add-to-cart p {
	font-size: inherit;
	color: yellow;
	height: 100%;
}

/* different useful classes */
.font-bold {
	font-weight: bold;
}

.inline {
	display: inline-block;
}

/* see https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d#.wvtibc8bk */
.shadow-1 {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-2 {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* all lists */
.list-inline {
	list-style: none;
	padding: 0;
}

.list-inline li {
	display: inline-block;
}

ul.navigation-content {
	
}

ul.navigation-content li {
	width: auto;
}

ul.navigation-content li ul.navigation-content-sub {
	width: inherit;
	background-color: #009688;
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
}

ul.navigation-content li ul.navigation-content-sub li {
	display: block;
}

ul.navigation-content li:hover .navigation-content-sub {
	display: block;
}

.float-right {
	float: right;
}

/* Footer */

.footer-content li::AFTER {
	content: " | ";
}

.footer-content li:last-child::AFTER {
	content: none;
}

/* input fields */

/* on homepage */
form * {
	display: block;
	margin-bottom: 0.3em;
}

.dropdown-menu * {
	padding: 0 0.3em 0.3em 0.3em;
}

/* animations */
/* rainbow stolen from http://codepen.io/beben-koben/pen/gfuvc */
.rainbow {
	animation: rainbow 1s infinite;
}

@keyframes rainbow {
	0% { color: #ff0000; }
	10% { color: #ff8000; }
	20% { color: #ffff00; }
	30% { color: #80ff00; }
	40% { color: #00ff00; }
	50% { color: #00ff80; }
	60% { color: #00ffff; }
	70% { color: #0080ff; }
	80% { color: #0000ff; }
	90% { color: #8000ff; }
	100% { color: #ff0080; }
}

/* media queries */
@media screen and (max-width: 1000px) {
	body {
		padding: 0 10px 0 10px;
	}
}

div#homerow {
	width: 100%
}

/* Bootstrap changes */

#logout-form {
	height: 100%;
}

#logout-button {
	background-color: inherit;
	color: rgb(119, 119, 119);
	height: inherit;
}

#logout-button:HOVER {
	color: rgb(51, 51, 51);
}

.header-bg {
	height: 15vw;
	max-height: 250px;
	width: 100% !important;
	background-image: url("../img/title.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	z-index: -1;
}

/* Sidebar */
.nav-side-menu {
	overflow: auto;
	background-color: #2e353d;
	width: 100%;
	height: 100%;
	color: #e1ffff;
}

.nav-side-menu .toggle-btn {
	display: none;
}

.nav-side-menu ul, .nav-side-menu li {
	list-style: none;
	padding: 0px;
	margin: 0px;
	line-height: 2.7em;
	cursor: pointer;
}

.nav-side-menu ul .active, .nav-side-menu li .active {
	border-left: 0.3em solid #d19b3d;
	background-color: #4f5b69;
}

.nav-side-menu ul .sub-menu li.active, .nav-side-menu li .sub-menu li.active
	{
	color: #d19b3d;
}

.nav-side-menu ul .sub-menu li.active a, .nav-side-menu li .sub-menu li.active a
	{
	color: #d19b3d;
}

.nav-side-menu ul .sub-menu li, .nav-side-menu li .sub-menu li {
	background-color: #181c20;
	border: none;
	line-height: 2em;
	border-bottom: 1px solid #23282e;
	margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover, .nav-side-menu li .sub-menu li:hover
	{
	background-color: #020203;
}

.nav-side-menu li {
	padding-left: 1em;
	border-left: 3px solid #2e353d;
	border-bottom: 1px solid #23282e;
}

.nav-side-menu li a {
	text-decoration: none;
	color: #e1ffff;
}

.nav-side-menu ul .sub-menu li span {
	padding-left: 2em;
}

.nav-side-menu li:hover {
	border-left: 3px solid #d19b3d;
	background-color: #4f5b69;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

.nav-side-menu .menu-list .menu-content {
	display: block;
}

/* Upload-Button */

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* Thumbnail */

.thumbnail{        
    width: 90%;
    height: 35vw;
    overflow: auto;
}

.thumbnail img {
	width: 40%;
}

