html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}

html, body {
	width: 100%;
	height: 100%;
	font-family: Tahoma, sans-serif;
	color: #212121;
	background-color: #CFD8DC;
	hyphens: auto;
}

/* all font stuff */

p {
	font-size: 1em;
	line-height: 150%;
	margin-bottom: 0.5em;
	text-align: justify;
}

.login-error {
	color: red;
}

h1 {
	font-size: 2em;
	margin: 1em 0 1em 0;
}

h2 {
	font-size: 1.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

h3 {
	font-size: 1.1em;
	font-weight: bold;
	margin: 0.5em 0 0.5em 0;
}

/* all links */
a {
    cursor: pointer;
    border-bottom: 1px solid #212121;
}

a:link, a:visited {
    color: #212121;
    text-decoration:none;
    border-bottom: 1px solid #212121;
}

a:focus, a:hover, a:active {
    color: #212121;
    text-decoration:none;
    border-bottom: 0px solid #212121;
}

/* all containers */

div#wrapper {
	min-height: 100%;
	max-width: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto 0 auto;
	background-color: #FFFFFF;
}

div#wrapper > * {
	width: 100%;
	height: auto;
}

header {
	background-color: #FFC107;
}

nav {
	background-color: #009688;
}

div#content-wrapper {
	height: auto;
}

div#content-wrapper > * {
	padding: 5px;
}

footer {
	background-color: #009688;
	width: 100%;
	height: auto;
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}

/* all the content */

/* different stuff */
.add-to-cart {
	height: 30px;
}

.add-to-cart * {
	display: inline-block;
}

.add-to-cart img {
	height: 100%;
}

.add-to-cart p {
	font-size: inherit;
	color: yellow;
	height: 100%;
}

/* different useful classes */

.font-bold {
	font-weight: bold;
}

.inline {
	display: inline-block;
}

/* all lists */
.list-inline {
	list-style: none;
	padding: 0;
}

.list-inline li {
	display: inline-block;
}

.float-right {
	float: right;
}

.footer-content li::AFTER {
	content: " | ";
}

.footer-content li:last-child::AFTER {
	content: none;
}

/* input fields */

/* on homepage */
div#searchfield {
	width: 100%;
}

div#searchfield form {
	max-width: 75%;
	min-width: 250px;
	margin: 0.5em auto 0.5em auto;
}

div#searchfield form input[type=text] {
	width: 100%;
	font-size: 150%;
	padding: 0.2em;
}

div#searchfield form input[type=submit] {
	margin: 0.5em auto 0.5em auto;
}

form * {
	display: block;
}

/* media queries */
@media screen and (max-width: 1000px) {
	body {
		padding: 0 10px 0 10px;
	}
}